.suduko .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.suduko .overlay .content {
    position: relative;
    top: 50px;
    width: 90%;
    max-width: 200px;
    min-height: 200px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.suduko .overlay .content p {
    font-size: 2rem;
}

.suduko .keyboard-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 260px;
}

.suduko .keyboard-container > button {
    flex: 1 1 30%;
    height: 50px;
}

.suduko .puzzle-container {
    min-width: 270px;
    max-width: 270px;
}

.suduko .puzzle-container .cell {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border: 1px solid black;
    float: left;
}

.suduko .selected,
.suduko .sectionHighlight.selected {
    background-color: #ffff00;
}

.suduko .helped,
.suduko .sectionHighlight.helped {
    background-color: #00ff00;
}

.suduko .helped.selected,
.suduko .sectionHighlight.helped.selected {
    background-color: #00ff00;
}

.suduko .wrong,
.suduko .sectionHighlight.wrong {
    background-color: #ff0000;
}

.suduko .wrong.selected,
.suduko .sectionHighlight.wrong.selected {
    background-color: #ff0000;
}

.suduko .sectionHighlight {
    background-color: #e4d8d8;
}