<footer class="footer fixed-bottom pt-5">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        {% if site.github_username %}
        <a class="social" href="https://github.com/{{ site.github_username }}">
          <img src="/assets/images/github-bw.svg" />
        </a>
        {% endif %}
      </div>
      <div class="col">
        {% if site.twitter_username %}
        <a class="social" href="https://twitter.com/{{ site.twitter_username }}">
          <img src="/assets/images/twitter-bw.svg" />
        </a>
        {% endif %}
      </div>
      <div class="col">
        {% if site.linkedin_username %}
        <a class="social" href="https://se.linkedin.com/in/{{ site.linkedin_username }}">
          <img src="/assets/images/linkedIn-bw.svg" />
        </a>
        {% endif %}
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container text-center pt-3">
    <div class="row align-items-start">
      <div class="col">
        <p>
          <a href="{{ site.url }}" class="footer-style">{{ site.title }} &copy; 2024 </a>
        </p>
      </div>
    </div>
  </div>
</footer>
<div style="height: 165px"></div>