<footer class="site-footer">
  
    <p style="text-align:center;">
      <a href="{{ site.url }}" class="footer-style">{{ site.title }} &copy; 2023 </a>
    </p>

    <ul class="social-media-list">
    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        <span class="icon  icon--github">
          <i class="fa fa-github fa-6" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span class="icon  icon--twitter">
          <i class="fa fa-twitter fa-6" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li>
      <a href="https://se.linkedin.com/in/{{ site.linkedin_username }}">
        <span class="icon  icon--linkedin">
          <i class="fa fa-linkedin fa-6" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    {% endif %}
  </ul>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</footer>
