<header class="site-header" style="background-color: #e8b455;">
  <div class="wrapper">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a id="navbar-brand-name" class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
      </div><!-- /.container -->
      <a class="magento-certification" href="https://www.magentocommerce.com/certification/directory/dev/1889072/" target="_blank">
        <img src="https://www.anderswik.se/assets/images/frontend_developer.png">
      </a>
    </div><!-- /.navbar -->
  </div>
</header>
